p {
  padding-top: 17px;
  position: absolute;
  z-index: 4;
  font-family: 'Assistant', sans-serif;;
  font-size: 12px;
  margin: 0;
}

p:nth-child(2) {
  padding-top: 60px;
}

p:nth-child(3) {
  padding-top: 30px;
}

form {
  position: fixed;
  z-index: 5;
  font-family: 'Assistant', sans-serif;;
  font-size: 14px;
}

#article-prev {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid lightblue;
  padding: 13px;
  font-family: 'Assistant', sans-serif;;
  width: 300px;
  border-radius: 13px;
  height: 400px;
  margin: 5px;
  background-color: rgba(230,230,230,0.5);
  overflow-y: hidden;
  margin: 11px;
}


#article-prev-title {
  font-weight: 300;
  color: #363636;
  font-size: 25px;
  padding-bottom: 8px;
  height: auto;
  padding-top: 10px;
  margin-top: -13px;
}

#article-prev-text {
  line-height: 22px;
  font-size: 15px;
  text-align: justify;
  padding-top: 1px;
  height: 366px;
  margin-top: 73px;
  overflow: scroll;
  width: 300px;
}

#network {
  background-color: #F5F7F2;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -1;
}

#article-prev-text::-webkit-scrollbar {
    display: none;
}

input {
  position: fixed;
  z-index: 5;
  width: 300px;
  height: 29px;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: rgba(230,230,230,0.5);
  font-size: 17px;
  padding: 3px;
  padding-left: 8px;
  font-weight: 300;
  font-family: "Assistant", sans-serif;
}

input:focus {
  outline: none;
  background-color: rgba(230, 230, 230, 0.99);
}

#reset {
  margin-left: 320px;
  height: 37px;
  position: fixed;
  background-color: rgba(230, 230, 230, 0.5);
  border: none;
  border: 1px solid lightblue;
  font-size: 17px;
  font-weight: 300;
  border-radius: 10px;
  padding: 3px;
  width: 72px;
  color: #363636;
  font-family: "Assistant", sans-serif;

}

#reset:hover {
  background-color: rgba(230, 230, 230, 0.99);
  cursor: pointer;
}

#reset:focus {
  outline: none;
}

.social {
  margin-left: 402px;
}

a {
  height: 24px;
  position: fixed;
  background-color: rgba(230, 230, 230, 0.5);
  border: none;
  border: 1px solid lightblue;
  font-size: 17px;
  font-weight: 300;
  border-radius: 10px;
  padding: 3px;
  width: 59px;
  color: #363636;
  padding-left: 16px;
  padding-top: 8px;
  text-decoration: none;
  font-family: 'Assistant', sans-serif;
}

a:hover {
  background-color: rgba(230, 230, 230, 0.99);
  cursor: pointer;
}

.fa-linkedin {
  margin-left: 87px;
  width: 71px;
}

.header {
  font-family: "Assistant", sans-serif;
  position: absolute;
  font-size: 42px;
  padding: 0;
  margin: 0;
  margin-top: -15px;
  color: #363636;
  font-weight: 200;
  background-color: rgba(245, 247, 242, 0.9);
  box-shadow: -8px 0px 8px 12px rgba(245,247,242,0.9);
}

.nav {
  margin-left: 195px;
  margin-top: 5px;
  width: 581px;
  position: absolute;
  z-index: 1;
  height: 37px;
  background-color: rgba(245, 247, 242, 0.9);
  box-shadow: 4px 2px 8px 12px rgba(245,247,242,0.9);
}

.tagline {
  font-family: "Assistant", sans-serif;
  position: absolute;
  font-size: 12px;
  margin-top: 33px;
  font-weight: 400;
  color: #363636;
}

#retry {
  margin-top: -24px;
  margin-left: 43px;
  font-size: 11px;
  color: maroon;
}

#article-link {
  width: 300px;
  height: auto;
  padding: 0;
  margin: 0;
  border: 13px solid rgba(237,238,236,0.2);
  text-decoration: underline;
  text-decoration-color: #363636;
  font-weight: 300;
  background-color: rgba(237,238,236,0.7);
  border-radius: 0;
  box-shadow: 0px 8px 11px 5px rgba(237,238,236,0.7);
  padding-bottom: 2px;
  padding-top: 0px;
  border-bottom: none;
  border-radius: 13px;
  margin-top: -13px;
  margin-left: -13px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#article-link:hover {
  text-decoration: underline;
}

.demo {
  outline: none;
  border: none;
  background: transparent;
  text-decoration: underline;
  color: #757575;
  font-family: "Assistant", sans-serif;
  font-size: 17px;
  position: absolute;
  z-index: 7;
  margin-left: 256px;
  margin-top: 7px;
  font-weight: 300;
  text-decoration-color: #757575;
}

.demo:hover {
  color: #363636;
  cursor: pointer;
}

#loading {
  height: 7px;
  background-color: lightblue;
  position: fixed;
  top: 0px;
  left: 0;
  width: 0vw;
  z-index: 10;
  opacity: .7;
}
